body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
  
.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
  
.h1 {
    text-align: center;
    margin-top: 0;
}
  
.form-group {
    margin-bottom: 10px;
}
  
.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
  
.form-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
}
  
.form-submit {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
  
.results {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
  
.result-label {
    font-weight: bold;
}
  
.result-value {
    margin-left: 10px;
}
.button{
    background: transparent;
    color: white;
    font-weight: 750;
    border: 1px solid white;
    padding: 6px 8px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    margin-top: 30px;
    transition: 0.15s ease-in-out;
}
.button:hover{
    background: transparent;
    color: red;
    font-weight: 750;
    box-shadow: 2 2 2 2 white;
    border: 1px solid red;
}