.bigcontainer{
    background-color: burlywood;
}
/* basic styling of Student Grade Generator */
.box{
    background-color: #a52aa5; 
    max-width: 600px;
    margin: auto;
    border-radius: 10pc 10px;  
}
.h1 {
    text-align: center;
    color: aqua;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
input[type="number"] {
    margin-bottom: 10px;
}
.button1 {
    padding: 10px;
    border: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
}
.button1:hover {
    background-color: #daa520;
}
#result {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
/* basic styling of Speed Detector */
.content {
    background-color: #daa520;
    max-width: 600px;
    margin: auto;
    border-radius: 1000px 1000pc;
}

.head {
    text-align: center;
    color: #4CAF50;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input[type="number"] {
    margin-bottom: 10px;
}

.button2 {
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.button2:hover {
    background-color: #000000;
}

#product {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

/* basic styling of Net Salary Calculator */
  
.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #800000;
    border-radius: 100px;
    
}
  
.header {
    color: #fff;
    text-align: center;
    margin-top: 0;
}
  
.form-group {
    margin-bottom: 10px;
}
  
.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
  
.form-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
}
  
.form-submit {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
  
.results {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #daa520;
}
  
.result-label {
    font-weight: bold;
}
  
.result-value {
    margin-left: 10px;
}